<h2><a href="{% url 'home' %}">Home</a></h2>

<h2>Task: {{ task_object.description|upper }}</h2>


<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type='submit' name="update" value='Update'/>
    <input type='submit' name="delete" value='Delete'/>
    {% if task_object.isComplete == True %}
    <input type='submit' name="incomplete" value="Incomplete"/>
    {% else %}
    <input type='submit' name="complete" value="Complete"/>
    {% endif %}
</form>

<form method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type='submit' name="add" value='Add'/>
</form>

<h2>Comments</h2>
<ul>
    {% for comment in comment_list %}
    <li>{{ comment.body }}</li>

    {% endfor %}
</ul>

<h2>Tags</h2>

<form method="POST">
    {% csrf_token %}
    {{ tag_form }}
    <input type='submit' name="create" value='Create Tag'/>
</form>

{% for tag in tag_list %}
    {{tag.name}}
    {% if not forloop.last %}
    |
    {% endif %}
{% endfor %}
