{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>

<body>
    <div class="container m-5">

        <h2><a href="{% url 'home' %}">Home</a></h2>

        <h2>Task: {{ task_object.description|upper }}</h2>

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <form method="POST">
                {% csrf_token %}
                {{ bootstrap_form }}
                {{ form }}
                <button type='submit' name="update" value='Update' class="btn btn-primary">Update</button>
                <button type='submit' name="delete" value='Delete' class="btn btn-primary">Delete</button>
                {% if task_object.isComplete == True %}
                <button type='submit' name="incomplete" value="Incomplete" class="btn btn-primary">Incomplete</button>
                {% else %}
                <button type='submit' name="complete" value="Complete" class="btn btn-primary">Complete</button>
                {% endif %}
            </form>
        </div>
        <hr />

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h2>Enter Comment in text box</h2>
            <form method="POST">
                {% csrf_token %}
                {{ bootstrap_form }}
                {{ comment_form }}
                <button type='submit' name="add" value='Add' class="btn btn-primary">Add</button>
            </form>

            <h3>Comments</h3>
            <ul>
                {% for comment in comment_list %}
                <li>{{ comment.body }}</li>

                {% endfor %}
            </ul>
        </div>
        <hr />

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h2>Enter Tag in the input box</h2>

            <form method="POST">
                {% csrf_token %}
                {{ bootstrap_form }}
                {{ tag_form }}
                <button type='submit' name="create" value='Create Tag' class="btn btn-primary">Create Tag</button>
            </form>
            <h3>Tags</h3>
            {% for tag in tag_list %}
            {{tag.name}}
            {% if not forloop.last %}
            |
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>